<% layout('/layouts/boilerplate.ejs')%>

    <h1>All Books</h1>
    <div>
        <a href="/books/new">Add New Book</a>
    </div>
    <ul>
        <% for(let book of books){ %>
            <li><a href="/books/<%= book._id %>"><%= book.title %></a></li>
        <%}%>
    </ul>
