<% layout('/layouts/boilerplate.ejs')%>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>